.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    background-image: url("../assets/orange_flower.png");
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2em;
    font-weight:bold;
    width:fit-content;
    margin: 20px;
    /* margin:0 auto; this is to center, if needed */
    /* add below if you want an outline, if not remove */
    filter: drop-shadow(0px 1px black) drop-shadow(0 -1px black) drop-shadow(1px 0 black) drop-shadow(-1px 0 black);
}

/* Add a wrapper for all form content */
.inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.create-wrapper {
  display: inline-flex; /* Changed from flex */
  flex-direction: row;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, .7));
  width: 180px;
  height: 180px;
}

.create-wrapper:hover {
  filter: drop-shadow(0px 0px 15px rgb(255, 255, 255));
}

.create-box {
  background-image: linear-gradient(180deg, #f0f9e1 20%, rgb(149, 208, 160) 50%, rgb(22, 159, 47) 60%, rgb(208, 255, 0) 100%), linear-gradient(200deg, #ffffff 0%, rgb(5, 123, 192) 100%);
  clip-path: url(#svgClip);
  width: 180px;
  height: 180px;
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
}

.input-container {
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align label and input to the left of their container */
    gap: 5px;
}

/* .container {
    background-image: url("https://dl.glitter-graphics.com/pub/2727/2727278e4sgs92faa.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
} */

.input-container p {
    font-size: 15px;
    text-align: left;
    margin: 0;
    padding-left: 0;
}

.create-text {
    font-size: 15px !important;
    width: 230px;
    height: 30px !important;
    margin: 0;
}

.bio-text {
    font-size: 15px !important;
    width: 300px;
    min-height: 100px;
    max-height: 200px;
    overflow-y: auto;
    padding: 5px;
    resize: vertical;
    font-family: inherit;
    line-height: 1.5;
    margin: 0;
}

.errorMsg {
    color: red;
    font-size: 14px;
    
}
.btn-green {
  background-color: #4CAF50 !important;
  color: white !important;
}

.btn-green:hover:not(:disabled) {
  background-color: #45a049 !important;
}

.btn-blue {
  background-color: #2196F3 !important;
  color: white !important;
}

.btn-blue:hover:not(:disabled) {
  background-color: #0b7dda !important;
}

.btn-green:disabled,
.btn-blue:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

@media (max-width: 800px) {
  .create-text {
    width: 180px;
  }
  .bio-text {
    width: 230px;
  }

}