.container {
    width: 100%;
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    flex-direction: column;
    background: none;
}


.inputs {
    /* background: linear-gradient(to bottom,
        #c5f6ff 0%, 
        #1f87bf 55%,
        #006c9a 65%,
        #adefab 100%
    ); */
    background-color: white;
    border: 0px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 500px;
    margin-top: 50px;
    margin-bottom: 100px;
    flex-direction: column;
    width: 500px;
    border-radius: 20px;
    box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.5);
}

.req {
    color: red;
    text-align: left;
}

.text {
  height: 40px;
  width: 100%;
  padding: 5px;
  border-radius: 10px;
  font-size: 20px;
}

.input-container {
    margin-top: 10px;
}

.input-container p {
    margin-top: 10px;
    font-size: 20px;
    /* font-weight: 100; */
}

