
.outer {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Fill full screen */
    width: 100%;
    margin: 0;
    
}

/* .page-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    padding: 20px;
    background-color: rgb(240, 248, 255);
    width: 100%;         
    box-sizing: border-box;
    overflow-y: auto;
    
} */
.page-content {
  display: flex;
  flex-direction: column;   /* vertical layout */
  align-items: stretch;     /* full width */
  padding: 20px;
  background-color: rgb(240, 248, 255);
  width: 100%;
  box-sizing: border-box;
}

.search-feed {
  width: 300px;
}
/* 
.filter-container {
    display: flex;
    gap: 10px;
    margin: 0px;
    padding: 10px;
    align-items: center;
    background-color: aliceblue;
} */

.filter-container {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: aliceblue;
  display: flex;
  gap: 10px;
  padding: 10px;
  align-items: center;
}

.post-list {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.empty-post {
  margin-top: 20px;   
  text-align: center;  
  color: #ff7070;
  font-weight: 600;
}


.homepage-card {
  min-height: auto;
  width: 350px;
  margin: 15px;
  border-radius: 5px;
  box-shadow: 5px 5px 0px rgba(72, 185, 255, 0.5);
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  transition: transform 0.2s, box-shadow 0.2s;
  margin-top: 10px;
}

.homepage-card:hover {
   transform: scale(1.01);
}

.card-link {
  text-decoration: none;
  color: inherit;
}
.card-link:hover {
  transform: scale(1.01);
  transition: 0.2s;
}
