
.outer {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Fill full screen */
    width: 100%;
    margin: 0;
    
}

.page-content {
    flex: 1;               /* Take remaining space */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    padding: 20px;
    background-color: rgb(240, 248, 255);
    width: 100%;         
    box-sizing: border-box;
    overflow-y: auto;
    
}


.filter-container {
    display: flex;
    gap: 10px;
    margin: 0px;
    padding: 10px;
    align-items: center;
    background-color: aliceblue;
}

.homepage-card {
  min-height: auto;
  width: 350px;
  margin: 15px;
  border-radius: 5px;
  box-shadow: 5px 5px 0px rgba(72, 185, 255, 0.5);
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  transition: transform 0.2s, box-shadow 0.2s;
  margin-top: 10px;
}

.homepage-card:hover {
   transform: scale(1.01);
}

.card-link {
  text-decoration: none;
  color: inherit;
}
.card-link:hover {
  transform: scale(1.01);
  transition: 0.2s;
}
