
.outer {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Fill full screen */
    width: 100%;
    margin: 0;
    overflow-y: auto;
}

.page-content {
    flex: 1;               /* Take remaining space */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    padding: 20px;
    background-color: rgb(240, 248, 255);
    width: 100%;         
    box-sizing: border-box;
    
}


.filter-container {
    display: flex;
    gap: 10px;
    margin: 0px;
    padding: 10px;
    align-items: center;
    background-color: aliceblue;
}

.card {
  width: 100%;
  width: 300px;
  margin: 15px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  overflow: hidden;
  background-color: rgb(210, 210, 210);
  transition: transform 0.2s, box-shadow 0.2s;
  margin-top: 10px;
}

.card-link {
  text-decoration: none;
  color: inherit;
}
.card-link:hover {
  transform: scale(1.01);
  transition: 0.2s;
}
