/* Reset default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* Container to center everything */
.main-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  background: none
}

.header {
    padding: 20px 30px;
    display: flex;
    align-items: center;
    gap: 15px;
    flex-shrink: 0;

    --hue: 140;
    --sat: 0.32;
    --glow-intensity: 0.7;

    --fg: oklch(15% calc(var(--sat) * 0.5) var(--hue));
    --bg: oklch(75% var(--sat) var(--hue) / 0.8);
    --bg-dark: oklch(45% var(--sat) var(--hue) / 0.75);
    --top-glow: radial-gradient(
        ellipse 100% 60% at top center,
        rgba(255, 255, 255, var(--glow-intensity)),
        transparent 70%
    );
  
    background-color: var(--bg);
    background: 
        var(--top-glow),
        linear-gradient(to bottom, var(--bg), var(--bg-dark));
}

.header h1 {
    margin: 0;
    font-size: 35px;
    font-weight: bold;
    color: white;
}

.leaf-logo {
    width: 90px;
    height: auto;
}

/* Card box */
.card {
  background: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 400px;
  min-height: 350px;
  text-align: center;
  margin-bottom: 50px;
}

/* Title */
.card h2 {
  margin-bottom: 1.5rem;
  color: #333;
}

/* Input fields */
.card input {
  width: 100%;
  padding: 0.8rem;
  margin: 0.5rem 0;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 1rem;
}

/* Button container */
.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

/* Buttons */
button {
  flex: 1;
  margin: 0 0.25rem;
  padding: 0.8rem;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.2s;
}

.signup-err, .confirm-email{
  color: red;
}



button:disabled {
  cursor: not-allowed;
}

