
/* Reset default browser styles */

#tab-F {
  /* background-color: red; */
  /* background-image: url("https://i.pinimg.com/736x/88/e2/4e/88e24e8ff08cfc589b69207254272f1b.jpg"); */
  /* background-image: url("https://i.redd.it/fykjr88ekbmb1.jpg"); */
  /* background-image: url("https://i.redd.it/hshhaw7267be1.png"); */
  /* background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/4e635eed-345d-4e5e-a55e-31c73e1d019c/dgwoh12-92600709-5998-442a-bc3f-e8022cf85f47.png/v1/fill/w_1280,h_633,q_80,strp/frutiger_aero_wallpaper_by_elfwink_dgwoh12-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NjMzIiwicGF0aCI6Ii9mLzRlNjM1ZWVkLTM0NWQtNGU1ZS1hNTVlLTMxYzczZTFkMDE5Yy9kZ3dvaDEyLTkyNjAwNzA5LTU5OTgtNDQyYS1iYzNmLWU4MDIyY2Y4NWY0Ny5wbmciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19._b4iei-VNfpYBpVb3IlCZmUlUUVU0W-8Zk0xKrbtzew"); */
  /* background: none; */
  background-image: url("https://i.redd.it/over-50-frutiger-aero-wallpapers-2008ify-your-pc-v0-g6pvusd2nz9b1.jpg?width=3878&format=pjpg&auto=webp&s=6025d8769d4a6717ec19c517b9976949399b59ed");
  /* background-image: url("https://www.wisc-online.com/assetrepository/getfile?id=31&getType=view&width=0&height=0"); */
  /* background-image: url(""); */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  border: none;

}

background {
  filter: blur(8px);
}

/* Container to center everything */
.main-container{
  height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: center;
  background: none;
  margin: 0;
  padding: 0;
  
}

.signup-err, .confirm-email{
  color: red;
  font-size: 15px;
  margin-bottom: 10px;
}

.email:focus {
  box-shadow: 0px 0px 5px 2px rgb(255, 255, 255);
}

.password:focus {
  box-shadow: 0px 0px 5px 2px rgb(255, 255, 255);
}

.default {
  padding: 10px;
  min-width: 75px;
  margin:10px;
  font-size: large;

}

.default:hover {
  transform: scale(1.08);  
  
}

button:disabled {
  cursor: not-allowed;
}

.login-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, .7));
  width: 220px;
  height: 220px;

}

.login-wrapper:hover {
  filter: drop-shadow(0px 0px 15px rgb(255, 255, 255));

}

.login-box {
  background-image: linear-gradient(180deg, #e1f7f9 20%, rgb(149, 199, 208) 50%, rgb(22, 138, 159) 60%, rgb(0, 208, 255) 100%), linear-gradient(200deg, #ffffff 0%, rgb(5, 123, 192) 100%);
  clip-path: url(#svgClip);
  width: 220px;
  height: 220px;
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
}


