/* ProfilePage specific styles */
.profile-outer {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    
}

.profile-info {
    display: flex;
    flex-direction: row;
    background-color: aliceblue;
    border-radius: 5px;
    border: 1px solid rgb(174, 199, 223);
    padding: 20px;
    border-radius: 12px;
    margin-bottom: 20px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.profile-info p {
    margin: 10px 0;
}

.profile-wrapper {
  display: inline-flex; /* Changed from flex */
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, .7)); */
  width: 180px;
  height: 180px;
}

.profile-wrapper:hover {
  filter: drop-shadow(0px 0px 10px rgb(185, 255, 138));
}

.profile-box {
  background-image: linear-gradient(180deg, #f0f9e1 20%, rgb(149, 208, 160) 50%, rgb(22, 159, 47) 60%, rgb(208, 255, 0) 100%), linear-gradient(200deg, #ffffff 0%, rgb(5, 123, 192) 100%);
  clip-path: url(#svgClip);
  width: 180px;
  height: 180px;
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
}

.activity-tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 10px; */
    margin-bottom: 10px;

}

.activity-tab {
  width: 100%;
  padding: 10px 20px;
  background: rgb(215, 219, 220);
  border: none;
  cursor: pointer;
  transition: background 0.2s;
}

.activity-tab.active {
    background: #4caf50;
    color: white;
}

.activity-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 2px;

}
.profile-card {
  height: 300px;
  width: 300px;
  margin: 0px !important;
  border-radius: 0px;
  padding: 0px !important;
  /* border: 3px solid rgb(212, 212, 212); */
 
  box-shadow:none;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  /* transition: transform 0.2s, box-shadow 0.2s; */
  /* margin-top: 10px; */
}
