@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

#root {
    background-image: url("./assets/windows_xp_16.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh; /* Changed from height: 100% to min-height: 100vh */
    width: 100%;
    margin: 0;
    padding: 20px 0; 
    align-items: center;
    justify-content: center;
}

.window-responsive {
  width: 70%;
}

@media (max-width: 1000px) {
  .window-responsive {
    width: 100% !important;
    max-width: 100%;
  }

  #root {
    padding: 0;
  }
  
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 10px #ffffff;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ffffff, 0 0 10px #ffffff;
  }
}

/* this is the outer part of the space in the window */
/* .window-body {
    background-image: url("https://i.redd.it/fykjr88ekbmb1.jpg");
    background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/4e635eed-345d-4e5e-a55e-31c73e1d019c/dgwoh12-92600709-5998-442a-bc3f-e8022cf85f47.png/v1/fill/w_1280,h_633,q_80,strp/frutiger_aero_wallpaper_by_elfwink_dgwoh12-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NjMzIiwicGF0aCI6Ii9mLzRlNjM1ZWVkLTM0NWQtNGU1ZS1hNTVlLTMxYzczZTFkMDE5Yy9kZ3dvaDEyLTkyNjAwNzA5LTU5OTgtNDQyYS1iYzNmLWU4MDIyY2Y4NWY0Ny5wbmciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19._b4iei-VNfpYBpVb3IlCZmUlUUVU0W-8Zk0xKrbtzew");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
} */

.loading-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.loading-wrapper {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading-wrapper h2 {
    color: white;
    font-size: 24px;
}

.tabs {
    margin-left: 2.3px;
    margin-right: 5.3px;
}

/* Tab sizing */
.tabs button[role="tab"] {
  /* padding: 12px 24px; */
  margin: 0;

  font-size: 15px;
  width: 150px; 
  height: 30px; 
}

.tabs button[role="tab"] a {
  font-size: 16px; 
}

.leaf-logo {
  width: 22px;
  height: auto;
}